@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styling */

html {
  font-size: 62.5%;

  /* variables in css */

  /* calc property enables us to combine different units for creating responsive websites
    so 1vw means for evry 100  */
  --h1: calc(2rem + 1vw);
  --h2: calc(2.5rem + 1vw);
  --h3: calc(2rem + 1vw);
  --h4: calc(2rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --h1: calc(2rem + 1vw);
  --bigText: calc(2.4rem + 1vw);
  --specialColor: #ffe156;
  --designChoiceColor: #414141;
  --greyText: #525252;
}

body {
  animation: opening 1s ease-in-out;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: var(--h1);
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h5 {
  font-size: 5rem;
}
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li,
button,
p,
label,
input,
a {
  font-size: var(--text);
}

.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.main-head nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

#logo {
  flex: 1 1 20rem;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.nav-links {
  display: flex;
  flex: 1 1 20rem;
  justify-content: space-between;
}

.nav-links a {
  font-size: 2.4rem;
}
.hero {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.hero-intro {
  flex: 2 1 40rem;
  text-align: center;
  /* doing this to cotain img within 90vh and avoid scrolling */
}

.hero-intro p {
  padding: 5rem 10rem;
}
.hero-intro h2 {
  padding-top: 3rem;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  /* box-shadow: 2px; */
}

.hero-intro a {
  padding: 2rem 8rem;
  border: 0.3rem solid black;
  margin-bottom: 3rem;
}

.hero-image {
  background: linear-gradient(#dad8dd, #dad1d4);
  flex: 1 1 40rem;
  position: relative;
  z-index: 1;
}

.hero-main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  animation: plant-entrance 1.5s ease-in-out forwards;
  max-height: 80%;
}

.plant2 {
  left: 40%;
}

/* about section */

.about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.about-img {
  flex: 1 1 40rem;
  position: relative;
}

.about-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-text {
  flex: 2 1 40rem;
  background: var(--designChoiceColor);
  justify-content: space-around;
  color: white;
}

.about-text h2 {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}
.about-text div {
  padding: 3rem 10rem;
}

.about-text h3 {
  padding: 2rem 0rem;
}

.about-text h2 {
  padding: 4rem;
}
.about-img h5 {
  position: absolute;
  top: 20%;
  left: 50%;
  letter-spacing: 1rem;
  transform: translate(-50%, -80%);
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
/* animations */

@keyframes opening {
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 842px) {
  .hero {
    width: 100%;
  }

  .nav-links {
    padding-top: 1.5rem;
  }

  .about-text {
    text-align: center;
    padding: 1rem;
  }
}
